@CHARSET "UTF-8";

.Bildinfo img {
  position: relative;
  height: 85%;
}

.Bildinfo p {
  float: right;
  max-width: 40%;
  -webkit-transform: translateY(-50%);
}

.Bildinfo h3 {
 -webkit-transform: translateY(150%);
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.mixin p {
  @include vertical-align;
}


/* ====================================
   Base styling, to make the demo more fancy
   ==================================== */


body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background: #59488b;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 200;
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

section {
  display: block;
  max-width: 90%;
  background: #433669;
  margin: 0 auto 1em;
  height: 30%;
  border-radius: .5em;
  color: white;
}
  img, p {
  padding: 1em;
  }
}