@CHARSET "ISO-8859-1";
.einbtippen, .einbuebers, .einbinfo, .einbhoeren, .einbwischen, .einbggb {
	position: fixed;
	display: block;
	left: 15%;
	bottom: 90px;
	z-index: 100;
	text-align: center;
	vertical-align: middle;
	width: 70%;
	border: 5px solid #333;
	background-color: #333;
	color: white;
	cursor: default;
	padding: 25px 10px;
	border: 5px solid #333;
	font-family: Calibri;
}
.spacer {
	height: 80px;
}
/* ================
	Anfang Index
		=============== */
	
body div.indexpage {
	width: 100%;
	height: 100%;
	background: white;
}

body div.indexpage div.indexheader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 35px;
	color: #333;
	background: white;
	/*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ddd),color-stop(1,#fff));*/
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	/*border-bottom: 1px solid #333;*/
	z-index: 20;
}


body .indexpage .indexheader span {
	display: inline-block;
	/*margin: 10px 0 5px 0;*/
	padding: 5px 20px 5px 20px;
	cursor: default;
	background: white;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
.indexpage .indexheader span.aktiv {
	display: inline-block;
	color: #fff;
	background-color: #333;
	cursor: default;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	position: static;
	margin-top: 10px;
	z-index: 1;
	padding: 5px 30px;
}
.indexpage .indexheader .linksbuendig {
	position: fixed;;
	left: 20px;
	top: 10px;
	cursor: pointer;
	/*margin-left: 20px;*/
	z-index: 10;
}

.indexpage .indexheader .rechtsbuendig {
	/*float: right;*/
	position: fixed;
	right: 20px;
	top: 10px;
	cursor: pointer;
	/*margin-right: 20px;*/
	z-index: 11;
}
@media screen and (max-width: 960px) {
	.indexpage .indexheader .aktiv,
	.bildheader .zuruebersicht {
		font-size: 13px;	
	}
	.indexpage .indexheader .linksbuendig {
		left: 0;
		padding: 5px;
	}
	.indexpage .indexheader .rechtsbuendig {
		right: 0;
		padding: 5px;
	}
}
/*===Index content===*/
body .indexpage .indexcontent {
	max-width: 80%;
	max-height: 100%;
	list-style: none;
	margin: 50px auto 85px auto;/*abstand oben*/
	padding: 5px 10px;
	color: #343434;
	background-color: #fff;
	line-height: 1.4em;
	font-family: Calibri;
}
.indexcontent table td#bilder {
	width: 20%;
} 
img.logos {
	width: 30%;
	margin: auto 1% auto 1%;
	vertical-align: middle;
}
.indexcontent img#seminar {
	width: 100%;
}
body .indexpage .container_new  {
	margin: 50px auto 85px auto;
}
body .indexpage .container_new > ul> li > a > span {
	display: block;
	width: inherit;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
}
body .indexpage .indexcontent #einfuehrung {
	width: 100%;
	
}
#einfuehrung > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
	height: auto;
	width: 50%;
	border: 5px solid #333;
	
}
#einfuehrung > tbody > tr > td.einftext {
	background-color: #333;
	color: white;
	cursor: default;
	padding: 5px 10px;
	border: 5px solid #333;
}
#einfuehrung > tbody > tr > td > img {
	width: 100%;
	display: block;
};
/*Ende Index*/
/*==================
	Anfang Bilder
		====================*/

.bilda {
	width: 100%;
	height: 100%;
}


body .bilda .bildheader,
body .bildb .bildheader,
body .bildc .bildheader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 35px;
	color: #333;
	background: white;
	/*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ddd),color-stop(1,#fff));*/
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	/*border-bottom: 1px solid #333;*/
	z-index: 20;
}



.bildheader span {
	display: inline-block;
	padding: 5px 20px 5px 20px;
	cursor: default;
	background: white;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
.bildheader span.aktiv {
	display: inline-block;
	color: #fff;
	background-color: #333;
	cursor: default;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	position: static;
	margin-top: 10px;
	z-index: 1;
	padding: 5px 30px;
}
.bildheader .linksbuendig {
	position: fixed;
	left: 20px;
	top: 10px;
	cursor: pointer;
}

.bildheader .rechtsbuendig {
	position: fixed;
	right: 20px;
	top: 10px;
	cursor: pointer;
}
@media screen and (max-width: 960px) {
	.bildheader .linksbuendig {
		left: 0;
	}
	.bildheader .rechtsbuendig {
		right: 0
	}
}
.bildheader .zuruebersicht {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	position: static;
	margin-top: 10px;
	z-index: 1;
}


/*===content===*/
/*===content Bild===*/

body div .bildcontent {
	/*position: absolute;
	height: 500px;
	width: 1000px;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -500px;
	z-index: 5;
	color: #eee;
	/*font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;*/
	text-align: center;
	position: fixed;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 70%;
	list-style: none;
	padding: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

body .bilda .bildcontent img {
	outline: none;
	border: none;
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

/*===content Text zum Bild===*/

body div .bildcontent_text {
	/*position: absolute;
	height: 500px;
	width: 1000px;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -500px;
	z-index: 5;
	color: #eee;
	background-color: #bbb;
	/*font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center; */
	max-width: 80%;
	max-height: 100%;
	list-style: none;
	margin: 70px auto;/*abstand oben*/
	padding: 5px 10px;
	color: #343434;
	background-color: #fff;
	line-height: 1.4em;
	font-family: Calibri;
}

body div .bildcontent_text p.speicher {
	display: none;
}

body .bildb .bildcontent_text #p iframe {
	/*text-align: left;
	overflow: scroll !important;
	padding: 0 15px;*/
	
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
	max-height: 100%;
}

body .bildb img.textbild {
	float: left;
	width: 15%;
	margin-top: 105px;
}

body .bildb .bildcontent_text p.textfeld {
	margin-top: 5px;
	color: #343434;
	font-family: Calibri;
	font-size: 16px;
	white-space: normal;
}

body .bildb .bildcontent_text audio.textaudio {
	margin-top: 5px;
	float: right;
	max-width: 50%;
}
/*======================
	Breiteanpassung ein Bild
		======================*/
/*
@media screen and (min-width: 960px) {
	body .bilda .bildcontent {
		max-width: 30%;
		margin: 70px auto;		
	}
}

@media screen and (max-width: 960px) {
	body .bilda .bildcontent {
		max-width: 70%;
		margin: 190px auto;		
	}
}
@media screen and (max-width: 480px) {
	body .bilda .bildcontent {
		max-width: 50%;		
	}
}
@media screen and (max-width: 320px) {
	body .bilda .bildcontent {
		max-width: 65%;
		margin: 70px auto;		
	}
}
*/
/*======================
	Breiteanpassung Text zum Bild
		======================*/
@media screen and (min-width: 960px) { 
	body .bildb .bildcontent_text {
		max-width: 70%;
		margin: 70px auto;		
	}
}

@media screen and (max-width: 960px) {
	body .bildb .bildcontent_text {
		max-width: 70%;
		margin: 40px auto;		
	}
	body .bildb img.textbild {
		margin-top: 75px;
	} 
}
@media screen and (max-width: 480px) {
	body .bildb .bildcontent_text {
		max-width: 50%;		
	}
}
@media screen and (max-width: 320px) {
	body .bildb .bildcontent_text {
		max-width: 90%;
		margin: 70px auto;		
	}
}

/*======================
	Ende Bilder
		======================*/

/*===footer===*/
body #footer {
	position: fixed;
	display: none;
	bottom: 0;
	width: 100%;
	height: 80px;
	color: white;
	background: transparent;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	margin: 0 0 0 0;
	z-index: 10;
}

/*
body .page .footer_start {
	position: fixed;
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
	background-color: #565656;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	margin: 0 0 0 0;
	z-index: 10;
}
	*/
