@CHARSET "ISO-8859-1";

body div.page {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

body .page .header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 21px;
	color: #ccc;
	background-color: #555;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	z-index: 20;
}

body .page .header #aktiv {
	font-weight: bold;
	color: white;
}

body .page .header .linksbündig {
	display: inline-block;
	float: left;
	margin: 1px 5px 1px 5px;
}

body .page .header .zentriert {
	display: inline-block;
	margin: 1px 5px 1px 5px;
}

body .page .header .rechtsbündig {
	display: inline-block;
	float: right;
	margin: 1px 5px 1px 5px;
}

/*===content===*/
body .page .content {
	position: absolute;
	height: 500px;
	width: 1000px;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -500px;	
	z-index: 5;
	color: #eee;
	background-color: #bbb;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
}

body .page .content_startseite {
	position: absolute;
	/*height: 500px;*/
	width: 1700px;
	top: 31%;
	/*bottom: 5%;*/
	left: 33%;
	margin-top: -260px;
	margin-bottom: 45px;
	margin-left: -500px;	
	z-index: 5;
	color: #eee;
	/*background-color: #bbb;*/
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;	
}

body div#a .content {
	position: absolute;
	width: 1000px;
	height: auto;
	left: 50%;
	margin-left: -500px;
	
	z-index: 5;
	color: #eee;
	background-color: #eee;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;	
}

body div#a .content div#container {
	width: 1000px;
}

body div#a div#container .item a img {
	max-width: 325px;
	margin-bottom: 5px;
}
/*===footer===*/
body .page .footer {
	position: fixed;
	display: block;
	bottom: 0;
	width: 100%;
	height: 90px;
	color: white;
	background-color: #565656;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	margin: 0 0 0 0;
	z-index: 10;
}

body .page .footer_start {
	position: fixed;
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
	background-color: #565656;
	font-weight: normal;
	font-size: 15px;
	font-family: Calibri;
	text-shadow: 0 0 0;
	text-align: center;
	margin: 0 0 0 0;
	z-index: 10;
}
	